ROCKETRIDE_URI=http://localhost:5565
ROCKETRIDE_APIKEY=
ROCKETRIDE_GEMINI_APIKEY=

PHOTON_PROJECT_ID=
PHOTON_PROJECT_SECRET=
PHOTON_ACCOUNT_ID=

SPOT_DAILY_CALORIES=2200
SPOT_DAILY_PROTEIN=150
SPOT_DAILY_CARBS=220
SPOT_DAILY_FAT=70
SPOT_PIPELINE_PATH=../../pipelines/spot.pipe
SPOT_ENABLE_TERMINAL=1
